
.youtube-player {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    .youtube-player {
      height: 315px; 
    }
  }
  
  @media only screen and (max-width: 767px) {
    .youtube-player {
      height: 200px; 
    }
  }
  
  