.offer-saction{
  padding: 2rem 0;
}
.offer-header{
  font-family: "Cairo", sans-serif;
    
    color: #4095C6;
    font-weight: 900;
    font-size: 30px;
    border-right: 3px solid #4095c6;
    padding-right:8px;
}
.offer-podcast .card{
  background: #F5F6FA;
  font-family: "Cairo", sans-serif;
  border-radius: 0;
}
.offer-podcast .title{
  font-family: "Cairo", sans-serif;
   font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  
  color: #1D1D1D;
}
.offer-podcast .descr{
  font-family: "Noto Naskh Arabic", serif;
  color : #615959;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  

  
}
.offer-podcast .date{
  font-family: "Noto Naskh Arabic", serif;
 font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color : #615959;
  display: flex;
  
  align-items: center;
  gap: 5px;
}
.offer-podcast .calender-icon{
  font-family: "Noto Naskh Arabic", serif;
  font-size: 30px;
  color : #615959;
}
  
@media (max-width: 575.98px) {
  .offer-header{
    
    color: #4095C6;
    font-weight: 900;
    font-size: 30px;
    border-right: 3px solid #4095c6;
    padding-right:8px;
    margin-top: 20px;
    margin-bottom: 10px;
}


}

