
 .bg-video {
   width: 100%;
  min-height: 500px;

}
.hero video {
   object-fit: cover;
}

.home-hero-main{
  padding: 20px;
  background-color: #F5F6FA;
  border-radius: 18px;
  color: black !important;
  margin-top: -80px !important;
  margin: auto;

}
.news-img{
  border-radius: 10px;
}
.bg-color{
  background-color: #F5F6FA;
}
.custom-indicators {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;

  top: 20px;
  right: 20px;
}
.indicator {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white; /* Default indicator color */
  margin-left: auto;
  margin-bottom: 8px;

}
.indicator.active {
  border-radius: 24px;
  background-color:#4095C6; /* Active indicator color */
}

.hero .title{
  color: black;
  /* font-size: 24px; */
font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 40px;
  text-align: right;
}
.hero .descr{
  color:black;
  font-family: "Noto Naskh Arabic", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 31px;
  text-align: right;
}
/* @media (min-aspect-ratio:16/9){
  .bg-video{
    width: 100%;
    height: auto;
  }
} */
@media (max-aspect-ratio:16/9){
  .bg-video{
    width: 100%;
    /* height: 100%; */
  }
}


