.hero{
  position: relative;
  
}
 .bg-video {
   width: 100%;
 }

.hero video {
   object-fit: cover;
}

.home-hero-main{
  padding: 20px;
  background-color: #F5F6FA;
  border-radius: 18px;
  color: black !important;
  margin-top: -80px !important;
  margin: auto;
  min-height: 100px;

}
.news-img{
  border-radius: 10px;
}
.bg-color{
  background-color: #F5F6FA;
}

.hero .title{
  color: black;
font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 40px;
  
}
.hero .descr{
  color:black;
  font-family: "Noto Naskh Arabic", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 31px;
 
}
.hero .banner-img{
  width: 100%;
  height: 500px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center vertically */
}
/* @media (min-aspect-ratio:16/9){
  .bg-video{
    width: 100%;
    height: auto;
  }
} */
@media (max-aspect-ratio:16/9){
  .bg-video{
    width: 100%;
  }
}

@media screen and (max-width : 576px){

  .hero .banner-img{
  
  height: 350px;
}
.hero .title{
  font-size: 20px;
}
.hero .descr{
  font-size: 12px;
}
.home-hero-main{
  padding: 10px;
  
  margin-top: -40px !important;
 

}
}
@media (min-width : 576px) and (max-width : 768px){

  .hero .banner-img{
  
  height: 400px;
}
}


