
.bg-video {
  width: 100%;
}

.hero video {
  object-fit: cover;
}

.hero .home-hero-main {
  padding: 20px;
  background-color: #f5f6fa;
  border-radius: 18px;
  color: black !important;
  margin-top: -80px !important;
  
  
  
}
.news-img {
  border-radius: 10px;
}
.bg-color {
  background-color: #f5f6fa;
}

.home-hero-main .title {
  font-family: "Cairo", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
}
.home-hero-main .descr p,
.home-hero-main .descr h3,
.home-hero-main .descr h1,
.home-hero-main .descr h2,
.home-hero-main .descr h3,
.home-hero-main .descr h4,
.home-hero-main .descr h5,
.home-hero-main .descr h6 {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.hero .banner-img {
  width: 100%;
  height: 500px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .home-hero-main .title {
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
  }
  .home-hero-main .descr p,
  .home-hero-main .descr h3,
  .home-hero-main .descr h1,
  .home-hero-main .descr h2,
  .home-hero-main .descr h3,
  .home-hero-main .descr h4,
  .home-hero-main .descr h5,
  .home-hero-main .descr h6 {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  .hero .banner-img {
    height: auto;
  }
  .home-hero-main {
    padding: 10px;

    margin-top: -40px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .home-hero-main .title {
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
  }
  .home-hero-main .descr p,
  .home-hero-main .descr h3,
  .home-hero-main .descr h1,
  .home-hero-main .descr h2,
  .home-hero-main .descr h3,
  .home-hero-main .descr h4,
  .home-hero-main .descr h5,
  .home-hero-main .descr h6 {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }
  .hero .banner-img {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .home-hero-main .title {
    font-family: "Cairo", sans-serif;
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
  }
  .home-hero-main .descr p,
  .home-hero-main .descr h3,
  .home-hero-main .descr h1,
  .home-hero-main .descr h2,
  .home-hero-main .descr h3,
  .home-hero-main .descr h4,
  .home-hero-main .descr h5,
  .home-hero-main .descr h6 {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }
  .hero .banner-img {
    height: auto;
  }
}
