.geet-banner{
    background-image: url("../../assets/Rectangle 43.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
}
.geetkpage{
    height: 100vh;
}