.tv-bg {
  background-color: black;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.box { 
  position: relative; 
  width: 100%; 
  overflow: hidden; 
  padding-top: 100%; 
} 

.iframe-element { 
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%; 
  height: 100%; 
  border: none; 
}
.button-tv {
  position: absolute;
  top: 20px;
  right: 20px;
}
.button-tv button {
  font-family: "Noto Naskh Arabic", serif;
  background-color: #4095c6;
  color: white;
  padding: 10px;
  border: none;
}
.tv_header{
  font-family: "Cairo", sans-serif;
  color: #4095c6;
  text-align: right;
  border-right: 5px solid #4095c6;
  padding-right: 5px;
  margin-top: 20px;
} 
.tv_img {
  background: url("../../assets/galleryback.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  color: white;
  font-family: "Cairo", sans-serif;
}
.tv_img p{
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: right;
}