.single-post .title {
  font-family: "Cairo", sans-serif;
  font-size: 29px;
  font-weight: 900;
  line-height: 43.5px;
}
.main-podcast .descr {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
}
.single-post .post-date,
.single-post .post-views,
.single-post .post-category {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #615959;
  display: flex;

  align-items: center;
  gap: 5px;
}

.card-body span {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 30px;
  color: #615959;
}

.primary-img {
  max-width: max-content;

  max-height: 400px;
}

.single-post .tags {
  display: flex;

  align-items: center;
  gap: 10px;
}
.single-post .tags p {
  font-family: "Noto Naskh Arabic", serif;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
}
.single-post .tags button {
  border: 1px solid #4095c6;
  background: #f5f6fa;
  color: #4095c6;
  width: 140px;
  height: 53px;
  font-size: 18px;
  font-weight: 400;
}

.card p {
  font-size: 20px;
}
.descr-img {
    width: 100%;
  
  
}
.descr img{
  width: 300px;

}

@media screen and (max-width: 576px) {
  .single-post span {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 20px;
  }
  .single-post .post-date,
  .single-post .post-views,
  .single-post .post-category {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 12px;
    gap: 5px;
  }
  .single-post .title {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 18px;
    line-height: 28px;
  }
  .single-post .descr,
  .single-post .sub-descr,
  .single-post .last-descr {
    font-family: "Noto Naskh Arabic", serif;

    font-size: 12px;

    line-height: 20px;
  }
  .single-post .tags {
    gap: 5px;
  }
  .single-post .tags p {
    font-size: 11px;
  }
  .single-post .tags button {
    width: 60px;
    height: 30px;
    font-size: 11px;
  }
  .primary-img {
    
  
    max-height: 250px;
  }
  
}
@media (min-width: 576px) and (max-width: 768px) {
  .single-post .title {
    font-size: 22px;
    line-height: 32px;
  }
  .single-post .descr,
  .single-post .sub-descr,
  .single-post .last-descr {
    font-size: 14px;

    line-height: 22px;
  }

  .single-post .tags p {
    font-family: "Noto Naskh Arabic", serif;
    font-size: 16px;
  }
  .single-post .tags button {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
  .primary-img {
   
  
    max-height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .single-post .title {
    font-family: "Noto Naskh Arabic", serif;

    font-size: 24px;
    line-height: 32px;
  }
  .single-post .descr,
  .single-post .sub-descr,
  .single-post .last-descr {
    font-family: "Noto Naskh Arabic", serif;

    font-size: 15px;

    line-height: 24px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .single-post .title {
    font-family: "Noto Naskh Arabic", serif;

    font-size: 26px;
    line-height: 34px;
  }
  .single-post .descr,
  .single-post .sub-descr,
  .single-post .last-descr {
    font-family: "Noto Naskh Arabic", serif;

    font-size: 16px;

    line-height: 25px;
  }
}
