.footer {
  
  width: 100%;
  background-color: #000;
  padding: 1.5rem 0;
}

.left-footer {
  padding-bottom: 5px;
}

.left-footer p {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 28.5px;
  
  color: #fff;
}

.left-footer span {
  font-family: "Noto Naskh Arabic", serif;
  color: #fff;
}
.left-footer input {
  background: transparent;
  border: 0;
  outline: 0;
  font-family: "Noto Naskh Arabic", serif;
  color: #fff;
  direction: ltr;
  width: 100%;
}

.left-footer input::placeholder {
  font-family: "Noto Naskh Arabic", serif;
  color: #fff;
  text-align: right;
}

.left-footer .border-bottom {
  border-bottom: 1px solid #d9d9d9 !important;
}

.left-footer form button {
  background: transparent;
}

.right-footer p {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 27px;
 
  color: #fff;
}

.right-footer a {
  font-family: "Cairo", sans-serif;
  color: #e8e8e8;
 
}



@media screen and (max-width: 576px) {
  .right-footer p {
    line-height: 20px;
  }

  
}

@media (min-width: 576px) and (max-width: 768px) {
  .right-footer p {
    line-height: 20px;
  }

  
}
